<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Perspective_BlogManager::blogmanager" 
        translate="title"
        title="Blog Management" 
        module="Perspective_BlogManager" 
        sortOrder="10"
        resource="Perspective_BlogManager::blogmanager"/>

        <add id="Perspective_BlogManager::manage" 
        translate="title"
        title="Manage" 
        module="Perspective_BlogManager" 
        sortOrder="10"
        resource="Perspective_BlogManager::manage"
        parent="Perspective_BlogManager::blogmanager" 
        action="blog/manage/index"/>
    </menu>
</config>