<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">

                <resource id="Perspective_SystemConfigExample::perspective_menu">
                    <resource id="Perspective_T13Ex1::theme13" title="Theme 13" sortOrder="60">
                        <resource id="Perspective_T13Ex1::ex1" title="Exercise 1" sortOrder="10"/>
                    </resource>
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Perspective_SystemConfigExample::perspective" sortOrder="0">
                                <resource id="Perspective_T13Ex1::multi_currency" title="Multi currency" sortOrder="30"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>    
    </acl>
</config>