<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Perspective_SystemConfigExample::perspective_menu" title="Perspective" sortOrder="1">
                    <resource id="Perspective_SystemConfigExample::perspective_section" title="System Config Example" sortOrder="10">
                        <resource id="Perspective_SystemConfigExample::perspective_configuration" title="Configuration" sortOrder="10"/>
                    </resource>
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Perspective_SystemConfigExample::perspective" title="Perspective" sortOrder="0">
                                <resource id="Perspective_SystemConfigExample::system_config_example_section" title="System Config Example" sortOrder="10"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>    
    </acl>
</config>