<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Helper\Output">
        <plugin name="perspective_change_scu_plugin" 
        type="Perspective\T16Ex1ChangeSkuPlugin\Plugin\ProductAttributeSku" 
        sortOrder="1" 
        disabled="false" />
    </type>
</config>