<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Perspective\DbScripts\Model\Post" 
                type="Perspective\PreferenceDbScripts\Model\Post" />
    <preference for="Perspective\DbScripts\ViewModel\Post" 
                type="Perspective\PreferenceDbScripts\ViewModel\Post" />

</config>