<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add 
        id="Perspective_Helloworld::helloworld_section" 
        title="Hello World" 
        module="Perspective_Helloworld" 
        sortOrder="30" 
        resource="Perspective_Helloworld::helloworld"
        parent="Perspective_SystemConfigExample::perspective"/>

        <add 
        id="Perspective_Helloworld::post" 
        title="Manage Posts" 
        module="Perspective_Helloworld" 
        sortOrder="10" 
        action="adminhtml/system_config/edit/section/helloworld" 
        resource="Perspective_Helloworld::post" 
        parent="Perspective_Helloworld::helloworld_section"/>

        <add 
        id="Perspective_Helloworld::hello_configuration" 
        title="Configuration" 
        module="Perspective_Helloworld" 
        sortOrder="20" 
        parent="Perspective_Helloworld::helloworld_section" 
        action="adminhtml/system_config/edit/section/helloworld" 
        resource="Perspective_Helloworld::helloworld_configuration"/>
    </menu>
</config>