<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="custom_tab" translate="label" sortOrder="10">
            <label>Custom</label>
        </tab>
        <section id="category_discount" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Category discount</label>
            <tab>custom_tab</tab>
            <resource>Perspective_ChangeProductPricePlugin::acl_rule</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="discount_rate" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Discount rate (%)</label>
                    <comment></comment>
                    <validate>required-entry integer</validate>
                    <depends>
                            <field id="enable">1</field>
                    </depends>
                </field>
                <field id="category" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Category</label>
                    <comment></comment>
                    <source_model>Perspective\ChangeProductPricePlugin\Model\Config\Source\Category</source_model>
                    
                    <can_be_empty>1</can_be_empty>
                    <depends>
                            <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>